name: Build removestar

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  SHELLOPTS: errexit:nounset:pipefail

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: Check SDist
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: pre-commit/action@v3.0.0

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyflakes pytest pytest-doctestplus ruff
      - name: Install
        run: |
          python -m pip install .
      - name: Test
        run: |
          pytest
